* {
    margin: 0;
}

html {
    background-color: #151515;
}

header {
    text-align: center;
    font-size: larger;
    margin-trim: 20px; 

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    background-color: #151515;
    color: white;
    text-align: center;
}

main {
    background-color: rgba(0,0,0,.6);
}

.logo {
    font-size: 30px;
    color: #26a69a;
}

.container{
    color: white;
}

#keywordInput {
    color: white;
}

.checkbox {
    margin-right: 20px;
}

.results-item {
    margin-bottom: 20px;
    display: flex;
}

.results-item
img {
    max-width: 780px;
}

.poster {
    max-height: 300px;
    float: left;
    margin-bottom: 25px;
}

.modal {
    color: black;
}

.modal-trigger {
    margin-top: 35px;
    margin-left: 20px;
}

.modal-close {
    position: absolute; 
    right: 0; 
    bottom: 0;
}

.movieImgThumbNail {
    width: 15%;
    margin-right: 15px;
}
