* {
    margin: 0;
}
/* UI basic styling */
html {
    background-color: #151515; 
    background-image: url("./images/drivein.jpg");
    background-size: 100%;
}
/* Centered the font for title */
header {
  text-align: center;
  font-size: larger;
  margin-trim: 20px; 
}
/* assigned Google Font: Headland One */
body {
    font-family: 'Headland One', serif;
    font-size: larger;
    color: white;
    text-align: center;
}
/* Makes background transparent */
main {
    background-color: rgba(0,0,0,.9);
}

.logo {
    font-size: 30px;
    color: #26a69a;
}

.container{
    color: white;
}

#keywordInput {
    color: white;
}

.checkbox {
    margin-right: 20px;
}

.results-item {
    margin-bottom: 20px;
    display: flex;
}

.results-item
img {
    max-width: 780px;
}

.poster {
    max-height: 400px;
    float: left;
}

.modal {
    color: black;
}

.modal-trigger {
    margin-left: 20px;
    margin-top: 36px;
}

.movieImgThumbNail {
    width: 15%;
    margin-right: 15px;
}
