* {
    margin: 0;
}

html {
    background-color: #151515; 
    background-image: url("./images/drivein.jpg");
    background-size: 100%;
}

header {
  text-align: center;
  font-size: larger;
  margin-trim: 20px; 
}

body {
    font-family: 'Headland One', serif;
    font-size: larger;
    color: white;
    text-align: center;
}

.logo {
    font-size: 30px;
    color: #4dbf00;
    
}

.container{
    color: white;
}

#keywordInput {
    color: white;
}

.checkbox {
    margin-right: 20px;
}

.results-item {
    margin-bottom: 20px;
    display: flex;
}

.results-item
img {
    max-width: 780px;
}

.modal {
    color: black;
}

.movieImgThumbNail {
    width: 15%;
    margin-right: 15px;
}